.Policies-Content {
  margin-top: 3rem;
  color: black;
  min-height: 88vh;
}

.Policies-Description {
  font-size: 20px;
}

.Policies-Details {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Policies-RuleHeaders {
  font-size: 18px;
  color: blue;
}

.Policies-TextAlign {
  text-align: center;
}

.Policies-MarginBottom {
  margin-bottom: 1rem;
}