.Registration-Logo {
  margin-top: 15%;
  margin-bottom: 10%;
}

.Registration-RegisterText {
  color: black;
  margin-bottom: 8%;
}

.Registration-Input {
  width: 290px;
  margin-bottom: 4%;
}

.Registration-UsernamePrefix {
  color: rgba(0,0,0,.25);
}

.Registration-PasswordPrefix {
  color: rgba(0,0,0,.25);
  margin-top: 2px;
}

.Registration-EmailPrefix {
  color: rgba(0,0,0,.25);
  margin-top: 2px;
}

.Registration-ForgetPassword {
  margin-bottom: 2%;
}

.Registration-LoginButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  background-color: #005792;
  color: white;
  margin-top: 2%;
  width: 130px;
}

.Registration-CancelButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  color: #005792;
  margin-top: 2%;
  width: 130px;
}

.Registration-Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}