.Navbar-Body {
  background-color: #26485F;
  padding: 0.7rem;
}

.Navbar-Icon {
  font-size: 2.2rem;
  color: white;
  padding-left: 0.5rem;
}

.Navbar-Border {
  height: 0.5rem;
  background-color: #A9DCFF;
}

.Navbar-DrawerButtons {
  box-shadow: none;
  border: none;
  padding: 0px;
}

.Navbar-MenuButton {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 425;
}

.Navbar-MenuButton:hover {
  background-color: transparent;
}

.Navbar-MenuButton:focus {
  background-color: transparent;
}

@media only screen and (min-width: 845px) {
  .Navbar-Icon {
    display: none;
  }
}

@media only screen and (max-width: 844px) {
  .Navbar-Menu {
    display: none;
  }
}