.Navbar-Body {
  background-color: #26485F;
  padding: 0.7rem;
}

.Navbar-Icon {
  font-size: 2.2rem;
  color: white;
  padding-left: 0.5rem;
}

.Navbar-Border {
  height: 0.5rem;
  background-color: #A9DCFF;
}