.LoginPage-Logo {
  margin-top: 15%;
  margin-bottom: 15%;
}

.LoginPage-Input {
  width: 290px;
  margin-bottom: 2%;
}

.LoginPage-UsernamePrefix {
  color: rgba(0,0,0,.25);
}

.LoginPage-ForgetPassword {
  margin-bottom: 2%;
}

.LoginPage-LoginButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  background-color: #005792;
  color: white;
  margin-top: 2%;
  width: 130px;
}

.LoginPage-CancelButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  color: #005792;
  /* margin-top: 2%; */
  width: 130px;
}

.LoginPage-Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}