.MaidDescription-Profile {
    background-color: #D7D7D7;
}
.MaidDescription-ProfilePicture-top {
    margin-top: 25px;
}
.MaidDescription-Rate {
    font-size: 18px;
  }

.MaidDescription-DescriptionRow {
    background-color: #26485F;
    color: white;
}
.MaidDescription-Description {
    color: white;
    margin: 25px;
}

.MaidDescription-ProfilePicture {
    margin: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.MaidDescription-Name {
    margin-top: 30px;
}

.MaidDescription-MarginTop20px {
    margin-top: 20px;
}

.MaidDescription-Type {
    margin-top: 20px;
    text-align: end;
    padding-right: 1.2rem;
}

.MaidDescription-icon {
    font-size: 60px
}

.MaidDescription-CondoText{
    padding-right: 0.8rem;
}

.MaidDescription-CondoType {
    margin-top: 20px;
    padding-left: 1.2rem;
}

.MaidDescription-HomeText{
    padding-right: 0.8rem;
    margin-top: -0.4rem;
}

.MaidDescription-HomeType {
    margin-top: 20px;
    padding-left: 1.2rem;
}

.MaidDescription-BookingButton {
    box-shadow: none;
    border-radius: 11px;
    border-color: #005792;
    background-color: #005792;
    color: white;
    width: 130px;
}
.MaidDescription-BookingButtonforview {
    text-align: center;
}
.MaidDescription-Booking {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MaidDescription-center {
    margin-bottom: 15px;
    
}