.MyBookingHistory-Body {
  min-height: 100vh;
  background-color: #F2F3F5;
}

.MyBookingHistory-Tabs {
  background-color: white;
}

.ant-tabs-tab {
  flex-grow: 1;
  margin-right: 0px;
  width: 84%;
  text-align: center;
}